---

- name: Add Docker key
  apt_key: url=https://download.docker.com/linux/ubuntu/gpg

- name: Install list of required packages
  apt: name="{{ item }}" state=present update_cache=yes
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - python3-pip
    - python3-setuptools
    - virtualenv

- name: Add Docker repository
  apt_repository: repo="deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable"

- name: Install Docker
  apt: name="{{ item }}" state=present update_cache=yes
  with_items:
    - docker-ce
    - docker-ce-cli
    - containerd.io

- name: Create Docker group
  group: name=docker state=present

- name: Add current user to Docker group
  user: name="{{ ansible_env.USER }}" groups=docker append=yes

- name: Install docker-compose
  get_url: url="https://github.com/docker/compose/releases/download/1.24.0/docker-compose-Linux-x86_64" dest=/usr/local/bin/docker-compose force=no mode=0755
