---

# State is present by default
apt_repo_state: present

# Array of repositories to add by default
apt_repo_repositories:
  - file: debian-main
    repo: deb http://deb.debian.org/debian {{ debian_dist }} main
  - file: debian-updates
    repo: deb http://deb.debian.org/debian {{ debian_dist }}-updates main
  - file: debian-security
    repo: deb http://security.debian.org {{ debian_dist }}/updates main

# Array of apt keys to add (all are optional)
apt_repo_keys:
  - url: https://download.docker.com/linux/debian/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
